.my-contact-h {
  color: var(--brown-color);
  text-shadow: 2px 2px 4px rgba(147, 217, 106, 0.6);
}

.my-submit-btn {
  color: var(--brown-color) !important;
  background-color: var(--accent-light-color);
}

.my-submit-btn:hover,
.my-submit-btn:focus,
.my-submit-btn:focus-visible {
  color: var(--bs-white) !important;
  background-color: var(--accent-dark-color);
}

.my-address-link {
  color: var(--accent-dark-color);
}

.my-invalid-feedback {
  display: none;
  color: red;
  position: absolute;
  margin-left: 1rem;
  left: 0;
  top: 100%;
  font-size: 0.875rem;
}

.my-show-error {
  display: block;
}
