.my-contact-h {
  color: var(--brown-color);
  text-shadow: 2px 2px 4px rgba(147, 217, 106, 0.6);
}

.my-submit-btn {
  background-color: var(--accent-light-color);
}

.my-submit-btn:hover,
.my-submit-btn:focus,
.my-submit-btn:focus-visible {
  background-color: var(--accent-dark-color);
}

.my-address-link {
  color: var(--accent-dark-color);
}
