.my-submit-btn {
  background-color: var(--accent-light-color);
}

.my-submit-btn:hover,
.my-submit-btn:focus,
.my-submit-btn:focus-visible {
  background-color: var(--accent-dark-color);
}

.my-address-link {
  color: var(--accent-dark-color);
}
