.my-footer {
  background-color: var(--my-bg);
  box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.my-footer-copyright {
  background-color: var(--brown-color);
}

.my-footer-h {
  text-shadow: 2px 2px 4px rgba(147, 217, 106, 0.6);
}

.my-copyright-link:hover {
  color: var(--accent-dark-color) !important;
}

.my-after-link::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 70%;
  background-color: var(--accent-dark-color);
  margin-left: 18px;
  margin-right: 0;
}
