.my-main-h {
  text-shadow: 2px 2px 4px var(--accent-light-color);
}

.my-benefits-list {
  list-style: none;
  margin-top: 60px;
  margin-bottom: 80px;
}

.my-benefits-item {
  box-shadow: 0px 2px 5px #c7c7c7;
}

.my-link {
  color: #767676;
}

.my-benefits-item:hover,
.my-benefits-item:focus,
.my-benefits-item:focus-visible {
  background-color: rgba(161, 191, 66, 0.3) !important;
  box-shadow: 2px 2px 5px var(--accent-light-color);
}

.my-cour-h {
  text-shadow: 2px 2px 4px var(--accent-light-color);
  color: var(--brown-color);
}
