@import url("header.css");
@import url("home.css");
@import url("carousel.css");
@import url("gallery.css");
@import url("contacts.css");
@import url("footer.css");

:root {
  --my-bg: #f3f3f3;
  --accent-light-color: #a1bf42;
  --accent-dark-color: #769839;
  --accent-green: #1a721b;
  --brown-color: #613f07;
  --dark-green: #2c6308;
}
