@import url("header.css");
@import url("home.css");
@import url("carousel.css");
@import url("gallery.css");
@import url("contacts.css");
@import url("footer.css");
@import url("notification.css");

:root {
  --my-bg: #f3f3f3;
  --accent-light-color: #a1bf42;
  --accent-dark-color: #769839;
  --accent-green: #1a721b;
  --brown-color: #613f07;
  --dark-green: #2c6308;
}

/* Scroll btn */

#scrollTopBtn {
  color: var(--brown-color);
  background-color: var(--accent-light-color);
  display: none;
  position: fixed;
  bottom: 56px;
  right: 30px;
  z-index: 99;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(0, 0, 0, 0.1);
}

#scrollTopBtn:hover,
#scrollTopBtn:focus,
#scrollTopBtn:focus-visible {
  background-color: var(--accent-dark-color);
  color: var(--bs-white) !important;
}
