/* @import url("./reset.css"); */
@import url("main.css");
@import url("home.css");
@import url("gallery.css");
@import url("contacts.css");
@import url("header.css");
@import url("footer.css");
@import url("swiper.css");

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-main-color);
  background-color: var(--background-main);

  --text-main-color: #1b1b1b;
  --text-green-color: green;

  --background-main: #f6f6f6;

  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
